POSTGRES_DB=keycloak_db
POSTGRES_USER=kc_user
POSTGRES_PASSWORD=kc_password

KEYCLOAK_ADMIN=kc_admin
KEYCLOAK_ADMIN_PASSWORD=kc_admin
KC_DB=kc_postgres
KC_DB_URL_HOST=kc_postgres
KC_DB_URL_DATABASE=keycloak_db
KC_DB_USERNAME=kc_user
KC_DB_PASSWORD=kc_password
KEYCLOAK_URL=http://keycloak:8080
REALM=realm
CLIENT_ID=client_id
CLIENT_SECRET=client_secret

RABBITMQ_USERNAME=rb_user
RABBITMQ_PASSWORD=rb_password
RABBITMQ_VIRTUAL_HOST=/
RABBITMQ_PORT=5672
RABBITMQ_HOST=rabbitmq

POSTGRES_CONTENT_DB=content_db
POSTGRES_CONTENT_USER=content_user
POSTGRES_CONTENT_PASSWORD=content_password

AWS_ACCESS_KEY_ID=aws_access_key_id
AWS_SECRET_ACCESS_KEY=aws_secret_access_key
AWS_REGION=us-east-1
S3_BUCKET=s3_bucket
S3_ENDPOINT=http://s3_host

ELASTICSEARCH_USER=es_user
ELASTICSEARCH_PASSWORD=es_password

POSTGRES_OCR_DB=ocr_db
POSTGRES_OCR_USER=ocr_user
POSTGRES_OCR_PASSWORD=ocr_password

REDIS_PASSWORD=redis_password
REDIS_HOST=redis

POSTGRES_TEMPORAL_USER=temporal_user
POSTGRES_TEMPORAL_PASSWORD=temporal_password